<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
    <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        function clean(passwordDiv){
            passwordDiv.remove();
            sleep(500).then(() => { close(); });
        }
        function CopyToClipboard(containerId) {
            const passwordDiv = document.getElementById(containerId);
            const range = document.createRange();
            range.selectNodeContents(passwordDiv);
            navigator.clipboard.writeText(range.toString())
              .then(() => { clean(passwordDiv) })
              .catch((error) => { alert(`Copy failed! ${error}`) })
        }
    </script>
</head>
<body onload="CopyToClipboard('password')" style="background-color:#1d2129;">
    <div style="color:white;">Copied to clipboard</div>
    <div id="password">{{ password }}</div>
</body>
</html>